body {
    padding: 0;
    margin: 0;
  }
  
#wildfireNumbersPlot,
body,
html {
    height: 50%;
    width: 60%;
}

#wildfireHeatMaps,
#wildfireSeverityMap,
body,
html {
    height: 85%;
    width: 90%;
}
  