body,
html {
    height: 100%;
    width: 100%;
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
        background-size: cover;
}

#wildfireHeatMaps, 
#wildfireSeverityMap, #wildfireCauseMap{
    height: 700px;
    width: 600px;
    padding-left:200px;
    margin-top: 0px;
    margin-left: 50px;
    align-items: center;
}

#barGraph{
    height: 300px;
    width: 600px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.wrapper {
    position: relative;
    height: 100%;  /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    overflow-y: auto
  }

.container {
    display: flex;
    justify-content: center; /*left*/
    align-items: center;
    height: 100%;
}


.dashboard{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column; 
  }

.row {
    padding-left:200px;
    display: flex; /*?*/
    flex-wrap: wrap; /*?*/
    flex-direction: row; /*?*/
  }

  .row > * {
    flex: 1 0 0;
    padding: 0 10px; 
    box-sizing: border-box;
  }
  

.legend {
    color: #555;
    padding: 6px 8px;
    font: 12px "Gill Sans", sans-serif;
    
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
  }
  .legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  .legend .min {
    float: left;
    padding-bottom: 5px;
  }
  .legend .max {
    float: right;
  }
  
  h1, .centered-text {
    text-align: center;
  }

  .legend-header{
    text-align: center;
    font: 15px "Gill Sans", sans-serif;
    color: #777;
  }

  .info {
    padding: 15px 20px 15px;
    font: 16px "Gill Sans", sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.info {
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold
}

h3 {
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 5px;
}